#content {
	#home-carousel { 
		margin-top: 10px;
		margin-bottom: 10px;
		padding: 10px;
		background-color: #fff;

		img { margin: 0 auto; }

		.carousel-caption h3,
		.carousel-caption p { z-index: 15; }

		.carousel-caption-bg {
			position: absolute;
			top: 0;
			bottom: 0;
			z-index: -1;
			width: 100%;
			min-height: 100%;
			background-color: #000;
			border-radius: 4px;
			-moz-opacity: 0.50;
			     opacity: 0.50;
			filter: alpha( opacity=50 );
		}

		.carousel-indicators {
			margin-left: -10%;
			padding: 10px;
			width: 20%;
		}
	}

	#news-headlines {
		margin: 10px 0;
		padding: 0 10px;
		background-color: #fff;
		background-image: none;
		border: none;
		border-radius: 0;

		dl {
			dt {
				padding-top: 10px;
				padding-bottom: 5px;
				border-bottom: 1px solid #eee;
			}

			dd .item a {
				display: block;
				padding: 10px 0;
				text-transform: capitalize;
			}
		}
	}
}

@media ( min-width: 768px ) {
	#content {
		#news-headlines {
			dl { 
				margin-bottom: 0;

				dt { 
					margin: 15px 0;
					padding: 0 5px 0 0;
					width: auto; 
					border-right: 1px solid #000; 
					border-bottom: none;
					text-align: left; 
				}

				dd { 
					margin-left: 125px;

					.item a { padding: 15px 0; } 
				}
			}
		}
	}
}
