<% if page.foreign_link.present? %>
  <li class="not"><%= link_to page.title, page.foreign_link, { target: '_blank' } %></li>
<% else %>
  <li><%= link_to page.title, "/#{ page.slug }" %></li>
<% end %>

