<div id="blog_entry_container">
  <% if !@news_articles.empty? %>
    <ul id="blog_entry_entries">
      <% @news_articles.each do | news_article | %>
        <li>
          <%= render partial: 'spree/news_articles/news_article', locals: { news_article: news_article } %>
        </li>
      <% end %>
    </ul>

    <%= paginate @news_articles %>
  <% else %>
    <p id="no_entries"><%= Spree.t( :news_no_articles ) %></p>
  <% end %>
</div>  
