<div id="blog_entry_sidebar">
  <h6>News Categories</h6>
  <%= render partial: 'spree/news_articles/categories_list' %>

  <h6>News Tag Cloud</h6>
  <%= render partial: 'spree/news_articles/tag_cloud' %>

  <h6>Recent Articles</h6>
  <%= render partial: 'spree/news_articles/recent_news_articles', object: Spree::NewsArticle.recent( 10 ) %>

  <h6>News Archive</h6>
  <%= render partial: 'spree/news_articles/news_archive', object: Spree::NewsArticle.organize_news_articles %>
</div>