<% content_for :sidebar do %>
  <%= render partial: 'spree/news_articles/sidebar_index' %>
<% end %>

<div class="columns twelve alpha omega blog_author_info">
  <div class="columns six alpha">
    <h1><%= "#{ t :news_article_author }: #{ @author.email }" %></h1>
  </div>
</div>

<%= render partial: 'spree/news_articles/news_articles' %>
