<% content_for :sidebar do %>
  <%= render partial: 'spree/news_articles/sidebar_index' %>
<% end %>

<h1><%= Spree.t( :news_category ) %>: <%= @category_name %></h1>

<%= render partial: 'spree/news_articles/news_articles' %>
