<% content_for :sidebar do %>
  <%= render partial: 'spree/news_articles/sidebar_show' %>
<% end %>

<div id="blog_entry_container">
  <div id="blog_entry_entry">
    <h1><%= @news_article.title %></h1>

    <div class="blog_entry_body">
      <%== @news_article.body %>
    </div>

    <%= render partial: 'spree/news_articles/news_article_details', locals: { news_article: @news_article } %>
  </div>
</div> 
