@import "bootstrap";
@import "bootstrap/theme";

@import "variables";

/* debug dump */
.debug_dump {
	clear: both;
	float: left;
	margin: { top: 45px };
	width: 100%;
	@include box-sizing( border-box );
}

body { 
	padding-top: 47px; 
	background-color: $body-grey; 
}

header {
	.navbar { 
		min-height: 0; 
		background-color: #fff; 

		.navbar-header {
			text-align: right;

			.btn {
				margin: 0;
				padding: 7px 10px;
				border: none;
				border-left: 1px solid $light-grey;
				border-radius: 0;
				font-size: 12px;

				&:first-child { padding: 4px 12px 5px; }
				&:last-child { border-right: 0; }

				.icon-bar { background-color: $dark-grey; }
				.icon-bar + .icon-bar { margin-top: 3px; }

				&:hover,
				&:focus { 
					background-color: $body-grey; 
					.icon-bar { background-color: $darker-grey; }
				}
			}

			a.btn {
				padding: 5px 10px 4px;
				color: $dark-grey;

				&:hover,
				&:focus { 
					background-color: transparent;
					color: $darker-grey; 
				}
			}
		}

		.navbar-collapse {
			background-color: $body-grey; 
			.navbar-nav { 
				margin-top: 10px;
				margin-bottom: 10px;

				> li {
					> a {
						margin: 2px 15px;
						padding: 5px;
						padding: 3px 15px;
						background-color: #fff;
						font-size: 12px;
					}
					
					&:first-child > a { margin-top: 0; }
					&:last-child > a { margin-bottom: 0; }
				}
			}
		}
	}

	.badge { 
		padding: 2px 5px;
		background-color: $primary-red; 
		border-radius: 0; 
	} 
}

.masthead {
	margin-bottom: 10px; 

	#masthead-brand { 
		h3 { 
			margin: 0;
			padding: 12px 0 12px 55px;
			background-image: url( image-path( 'store/nmtx-3.svg' ) );
			background-size: 50px 50px;
			background-repeat: no-repeat;
			background-position: 0 50%;
			text-transform: uppercase;
			letter-spacing: -2px;
			color: #d2322d;

			small { 
				font-size: 12px;
				text-transform: none;
				letter-spacing: normal;
			}
		} 
	}

	#masthead-search { padding: 9px 15px 11px; }

	#navigation { 
		margin-top: 10px; 
		background-color: #fff;
		border: 1px solid $light-grey;
		border-bottom: none;

		> li > a {
			margin: 0;
			padding-top: 5px;
			padding-bottom: 5px;
			background-color: #fff; /* Old browsers */
			background-repeat: repeat-x; /* Repeat the gradient */
			background-image: -webkit-gradient( linear, left top, left bottom, color-stop( 0%, #fff ), color-stop( 100%, $lighter-grey ) ); /* Chrome,Safari4+ */
			background-image: -webkit-linear-gradient( top, #fff 0%, $lighter-grey 100% ); /* Chrome 10+,Safari 5.1+ */
			background-image:    -moz-linear-gradient( top, #fff 0%, $lighter-grey 100% ); /* FF3.6+ */
			background-image:      -o-linear-gradient( top, #fff 0%, $lighter-grey 100% ); /* Opera 11.10+ */
			background-image:         linear-gradient( top, #fff 0%, $lighter-grey 100% ); /* W3C */
			filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#eeeeee', GradientType=0 ); /* IE6-9 */
			border-bottom: 1px solid $light-grey;
			color: $dark-grey;

			&:hover,
			&:focus {
				background-color: $lighter-grey;
				background-position: 0 -15px;
				color: $darker-grey;
			}
		}
	}
}

#home-image-big { 
	margin-top: 10px;
	margin-bottom: 10px;
	padding: 10px;
	height: 600px; 
	background-color: #fff;
	border-radius: 0;

	h1 { 
		margin: 0;
		height: 580px;
		background-color: $body-grey; 
		line-height: 580px; 

		small { color: #e5e5e5; }
	}
}

#news-headlines {
	margin-top: 10px;
	margin-bottom: 10px;
	padding: 10px;
	background-color: #fff;
	background-image: none;
	border: none;
	border-radius: 0;
}

.media {
	padding: 10px;
	background-color: #fff;
}

.footer {
	margin-top: 30px;
	padding-top: 10px;
	padding-bottom: 10px;
	height: 100px;
	background-color: #fff;
	border-top: 1px solid $light-grey;
}

@import "all-small";
