@import "bootstrap";
@import "bootstrap/theme";

@import "variables";

/* debug dump */
.debug_dump {
	clear: both;
	float: left;
	margin: 15px 0 0;
	width: 100%;
	@include box-sizing( border-box );
}

html,
body { height: 100%; }

body { 
	padding-top: 37px; 
	background-color: $body-grey; 
}

/* Wrapper for page content to push down footer */
#wrap {
  margin: 0 auto -115px; /* Negative indent footer by its height */
  padding: 0 0 115px; /* Pad bottom by footer height */
  min-height: 100%;
  height: auto;  
}

header {
	.navbar { 
		margin-bottom: 10px;
		min-height: 0; 
		background-color: #fff; 

		.navbar-header {
			text-align: right;

			.btn {
				margin: 0;
				padding: 7px 10px;
				border: none;
				border-left: 1px solid $light-grey;
				border-radius: 0;
				font-size: 12px;

				&:first-child { padding: 4px 12px 5px; }
				&:last-child { border-right: 0; }

				.icon-bar { background-color: $dark-grey; }
				.icon-bar + .icon-bar { margin-top: 3px; }

				&:hover,
				&:focus { 
					background-color: $body-grey; 
					.icon-bar { background-color: $darker-grey; }
				}
			}

			a.btn {
				padding: 5px 10px 4px;
				color: $dark-grey;

				&:hover,
				&:focus { 
					background-color: transparent;
					color: $darker-grey; 
				}
			}
		}

		.navbar-collapse {
			background-color: $body-grey; 
			.navbar-nav { 
				margin-top: 10px;
				margin-bottom: 10px;

				> li {
					> a {
						margin: 2px 15px;
						padding: 5px;
						padding: 3px 15px;
						background-color: #fff;
						font-size: 12px;
					}
					
					&:first-child > a { margin-top: 0; }
					&:last-child > a { margin-bottom: 0; }
				}
			}
		}
	}

	.badge { 
		padding: 2px 5px;
		background-color: $primary-red; 
		border-radius: 0; 
	} 
}

.masthead {
	margin-bottom: 10px; 

	#masthead-brand { 
		h3 { 
			margin: 0;
			padding: 19px 0 3px 55px;
			background-image: url( image-path( 'store/nmtx-3.png' ) );
			background-image: none, url( image-path( 'store/nmtx-3.svg' ) ), url( image-path( 'store/nmtx-3.png' ) );
			background-size: 50px 50px;
			background-repeat: no-repeat;
			background-position: 0 50%;
			line-height: 50%;
			color: #d2322d;

			small { font-size: 12px; }
		} 
	}

	#masthead-search { padding: 15px 15px 5px; }

	#navigation { 
		margin-top: 10px; 
		background-color: #fff;
		border: 1px solid #eee;
		border-bottom: none;

		> li > a {
			margin: 0;
			padding: 7px 0;
			background-color: #fff; /* Old browsers */
			background-repeat: repeat-x; /* Repeat the gradient */
			background-image: -webkit-gradient( linear, left top, left bottom, color-stop( 0%, #fff ), color-stop( 100%, $lighter-grey ) ); /* Chrome,Safari4+ */
			background-image: -webkit-linear-gradient( top, #fff 0%, $lighter-grey 100% ); /* Chrome 10+,Safari 5.1+ */
			background-image:    -moz-linear-gradient( top, #fff 0%, $lighter-grey 100% ); /* FF3.6+ */
			background-image:      -o-linear-gradient( top, #fff 0%, $lighter-grey 100% ); /* Opera 11.10+ */
			background-image:         linear-gradient( top, #fff 0%, $lighter-grey 100% ); /* W3C */
			filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#eeeeee', GradientType=0 ); /* IE6-9 */
			border-bottom: 1px solid #eee;
			color: $dark-grey;
			font-size: 12px;
			font-weight: 600;

			&:hover,
			&:focus {
				background-color: $lighter-grey;
				background-position: 0 -15px;
				color: $darker-grey;
			}
		}
	}
}

#content {
	> .row { padding: 0 10px; }

	#home-image-big { 
		margin-top: 10px;
		margin-bottom: 10px;
		padding: 10px;
		background-color: #fff;
		border-radius: 0;

		img { margin: 0 auto; }
	}

	#news-headlines {
		margin-top: 10px;
		margin-bottom: 10px;
		padding: 10px;
		background-color: #fff;
		background-image: none;
		border: none;
		border-radius: 0;
	}

	.media {
		padding: 10px;
		background-color: #fff;
	}

	.col-content { 
		padding: 30px 10px 10px;
		background-color: #fff; 
	}

	#featured {
		margin-bottom: 10px; 
		padding: 10px;
		background-color: #fff;
		
		.img-thumbnail,
		.list-group,
		.list-group-item { border-radius: 0; }

		#col-left { 
			padding-right: 5px;
		}

		#col-right {
			padding-left: 5px;

			#col-right-left {
				padding-right: 5px;
			}

			#col-right-right {
				padding-left: 5px;

				.list-group {
					margin-bottom: 0;

					a.list-group-item.active {
						margin-bottom: 0;
						padding-top: 16px;
						padding-bottom: 16px;
						background-color: $primary-red;
						background-image: none;
						border: none;
						border-bottom: 1px solid #fff;
						font-size: 12px;
						text-shadow: #b92c28 0px -1px 0px;

						&:hover,
						&:focus { text-decoration: underline; }

						&:last-child { border-bottom: 1px solid $primary-red; }

						.glyphicon { 
							top: 3px;
							float: right;
							font-size: 8px; 
						}
					}
				}
			}

			#col-right-bottom {
				padding-top: 10px;
			}
		}
	}

	.page {
		.page-header {
			margin: 0 -15px 5px -15px;
			padding-bottom: 0; 
			color: $dark-grey;
		}

		.page-content {
			background-color: #fff;

			> div { 
				padding-top: 15px;
				padding-bottom: 15px;
				text-align: justify;

				p:last-child { margin-bottom: 0; }
			}
		}
	}
}

.footer {
	margin-top: 15px;
	padding-top: 10px;
	padding-bottom: 10px;
	height: 100px;
	background-color: #fff;
	border-top: 1px solid $light-grey;
}

@import "all-sm";
@import "all-md";

@import "user";
@import "user-sm";
@import "user-md";

@import "news";
