@import "variables";

@media ( min-width: 768px ) {

	#login,
	#signup {
		.col-content-left { 
			margin-left: -15px;
			margin-right: -10px; 
		}

		#create-account { 
			margin-top: 0; 

			.col-content-right {
				margin-left: -10px;
				margin-right: -15px;

				.btn-lg {
					padding: 5px 10px;
					border-radius: 3px;
					font-size: 12px;
					line-height: 1.5;
				}
			}
		}
	}

}