@import "variables";

#login,
#signup {
	.page-header { 
		margin: 30px -15px 5px -15px;
		padding-bottom: 0; 
		color: $dark-grey;
	}

	.col-content {
		margin-left: -15px;
		margin-right: -15px;
	}
	
	#col-left {
		.col-content {
			.btn { width: 33.33333333333333%; }
		}
	}

	#col-right {
		.col-content { 
			padding-bottom: 30px; 
			vertical-align: middle; 
		
			.btn { 
				padding-left: 16px;
				padding-right: 16px;
				text-align: left; 
				text-transform: capitalize;

				.glyphicon { float: right;  }
			}
		}
	}
}

#login {
	#col-left {
		.col-content {
			.btn { margin-right: -15px; }

			#forgot-password { 
				border-top: 1px solid $lighter-grey; 

				.btn { 
					padding-left: 0; 
					text-align: left; 
				}
			}
		}
	}

}
