/* VARIABLES
-------------------------------------------------- */
$body-grey: #f8f8f8;

$light-grey:   #ddd;
$lighter-grey: #eee;

$dark-grey:    #777;
$darker-grey:  #333;

$primary-blue: #428bca;
