<div class="list-group">
  <% if !@articles.empty? %>
    <% @articles.each do | article | %>
      <%= render partial: 'spree/articles/article', locals: { article: article } %>
    <% end %>

    <%= paginate @articles %>
  <% else %>
    <p class="lead" id="no_entries"><%= Spree.t( :no_articles ) %></p>
  <% end %>
</div>  
