<%= link_to article_permalink( article ), class: 'list-group-item' do %>
	<h4 class="list-grou-item-heading">
		<%= article.title %>
		<small><%= render partial: 'spree/articles/article_details', locals: { article: article } %></small>
	</h4>

	<p class="list-group-item-text">
  	<%== article.article_summary %>
  </p>
<% end %>
