<% if content_for?( :table_filter ) %>
	<div id="table-filter" data-hook class="<%= if content_for?( :sidebar ) then 'col-sm-9' else 'col-sm-12' end %>">
		<fieldset>
			<h4 class="sub-header"><%= yield :table_filter_title %></h4>

			<%= yield :table_filter %>
		</fieldset>
	</div>
<% end %>
