<% @body_id = 'signup' %>

<div id="col-left" class="col-sm-7">
  <div class="page-header">
    <h4><%= Spree.t( :new_customer ) %></h4>
  </div>

  <div class="col-content">
    <%= render 'spree/shared/user_form' %>
  </div>
</div>

<div id="col-right" class="col-sm-5">
  <div class="page-header">
    <h4>Already a Customer?</h4>
  </div>

  <div class="col-content">
    <p class="text-center">
      <%= link_to spree.login_path, class: 'btn btn-lg btn-success btn-block' do %> 
        <%= Spree.t( :login_as_existing ) %> <span class="glyphicon glyphicon-chevron-right"></span>
      <% end %>
    </p>
  </div>
</div>