/* Move down content because we have a fixed navbar that is 50px tall */
body { padding-top: 40px; }


/* Main content */
.main { 
	padding: 20px; 

	.tab-header {
		position: relative;
		margin: -20px -20px 20px  !important;
		padding: 30px 20px        !important;
		background-color: #eee    !important;
		border-bottom: 1px solid #ccc;
		text-align: center;
		text-shadow: 0 1px 0 rgba( 0, 0, 0, 0.1 );

		h2 {
			margin-top: 0;
			margin-bottom: 0;
			color: #bd2d28;
		}

		.container-fluid { position: relative; }

		#page_actions { margin-bottom: 0; }
	}

	.sub-header {
		padding-bottom: 10px;
		border-bottom: 1px solid #eee;
		text-transform: uppercase;
		color: #bd2d28;
	}
}

@media ( min-width: 768px ) {
	.main {
		padding-right: 30px;
		padding-left: 30px;

		.tab-header {
			margin-left: -30px !important;
			margin-right: -30px !important;
			padding-left: 30px !important;
			padding-right: 30px !important;
			text-align: left;
		}
	}
}

/*
 *  These should be moved to the relevant partial when it is time
 *  Here now to override correctly
 */
#table-filter-left { border-right: 1px solid #eee; }

#form-date-from { padding-right: 0; }
#form-date-to   { padding-left: 0; }

#page_body,
#article_body,
#product_description { min-height: 500px; }
