<div id="home-image-big" class="jumbotron">
	<%= image_tag 'store/nmtx-promo-001.png', class: 'img-responsive' %>
</div>

<%= render partial: 'spree/articles/headlines', locals: { first_headline: @first_headline, headlines: @headlines } %>
