<div id="home-carousel" class="carousel" data-ride="carousel">
	<%= render partial: 'spree/home/carousel', locals: { banners: @carousel } %>
</div>

<%= render partial: 'spree/articles/headlines', locals: { first_headline: @first_headline, headlines: @headlines } %>
