<div id="home-image-big" class="jumbotron">
	<%= insert_banner category: 'test', style: 'original' %>
</div>

<%= render partial: 'spree/articles/headlines', locals: { first_headline: @first_headline, headlines: @headlines } %>
