<div id="home-image-big" class="jumbotron">
	<%= image_tag 'store/nmtx-promo-001.png' %>
</div>

<div id="news-headlines" class="well well-sm">
	<dl class="dl-horizontal">
		<dt>News Headlines</dt>
		<dd>News Article One Title</dd>
	</dl>
</div>
