#ui-datepicker-div {
	margin-top: 2px;
	padding: 0;
	width: 260px;
	background-clip: padding-box;
	background-image: none;
	border-radius: 4px;
	border-color: #ccc;
	-webkit-box-shadow: 0 6px 12px rgba( 0, 0, 0, 0.175 );
          box-shadow: 0 6px 12px rgba( 0, 0, 0, 0.175 );

	.ui-datepicker-header {
		padding: 0;
		height: 32px;
		background-color: transparent;
		background-image: none;
		border: 0;
		border-radius: 0;
		color: #555;

		.ui-datepicker-prev,
		.ui-datepicker-next {
			top: 0;
			width: 33px;
			height: 32px;
			border-radius: 0;
			text-align: center;
			vertical-align: middle;

			&:hover {
				background-color: transparent;
				background-image: none;
				border: 0;
				cursor: pointer;

				.ui-icon { color: #555; }
			}

			.ui-icon { 
				@extend .glyphicon;

				position: absolute;
				top: 17px;
				width: 12px;
				height: 12px;
				background-image: none;
				text-indent: 0;
				color: #999; 

				&.ui-icon-circle-triangle-w:before { @extend .glyphicon-arrow-left:before; }
				&.ui-icon-circle-triangle-e:before { @extend .glyphicon-arrow-right:before; }
			}
		}

		.ui-datepicker-prev { 
			left: 0;

			.ui-icon { left: 18px; } 
		}

		.ui-datepicker-next { 
			right: 0;

			.ui-icon { 
				left: auto;
				right: 10px; 
			} 
		}

		.ui-datepicker-title {
			padding: 6px 10px;
			font-size: 85%;
			text-transform: uppercase;
			color: #555;
		}
	}

	.ui-datepicker-calendar {
		margin-bottom: 0;
		border: 0;

		thead {
			tr {
				th {
					width: 14.285714285714286%;
					background-color: #eee;
					border: 1px solid #ccc;
					border-left: 0;
					color: #555;

					&:last-child { border-right: none; }
				}
			}
		}

		tbody {
			tr {
				&:hover {
					td { background-color: transparent; }
				}

				&:last-child {
					td {
						border-bottom: 0;

						&:first-child,
						&:first-child a { border-bottom-left-radius: 4px; }

						&:last-child,
						&:last-child a { border-bottom-right-radius: 4px; }
					}
				}

				td {
					padding: 0;
					border: 1px solid #ccc;

					&:first-child { border-left: 0; }

					a {
						padding: 5px 5px 5px 0;
						height: 100%;
						background-color: transparent;
						background-image: none;
						border: 0;
						font-size: 85%;
						color: #555;

						&:hover,
						&.ui-state-active {
							background-color: #357ebd;
							background-image: -webkit-linear-gradient( top,       #428bca 0%, #357ebd 100% );
							background-image:         linear-gradient( to bottom, #428bca 0%, #357ebd 100% );
							background-repeat: repeat-x;
							filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ff428bca', endColorstr='#ff357ebd', GradientType=0 );
							color: #fff;
						}						
					}

					&.ui-datepicker-today {
						a {
							font-weight: bold;
							color: #bd2d28;
						}
					}

					&.ui-state-disabled {
						background-color: #e5e5e5;
						background-image: none;
					}
				}
			}
		}
	}
}
